<h1>Eintracht Frankfurt</h1>
<div class='content-container'> 
    <h2>Who is Eintracht Frankfurt?</h2>
    <p>
    Eintracht Frankfurt are the best-known sports club in Frankfurt / Main and the Rhein-Main region. 
    Their football division has seen Eintracht establish themselves among the traditional heavyweights of the German game. 
    Their last period of sustained success ended in the mid-1990s, since when Eintracht have had to endure struggles in both
    economic and sporting terms. In addition to football, Eintracht comprises 18 further sporting disciplines. 
    The club’s colours are red, black and white; with their emblem being the golden eagle.</p>
</div>
