<div class='start-container'>
    <h1>Eintracht Frankfurt</h1>
    <div class='navigation-container'>
        <div class='nav-items'>
            <a href='/about'>ABOUT
            <img class='nav-link' src='https://s.hs-data.com/bilder/teamfotos/640x360/205.jpg'>
            </a>
        </div>
        <div class='nav-items'>
            <a href='/photos' >PHOTOS
            <img class='nav-link' src='https://images.sportbuzzer.de/v1/photos/raw/23-11-2019-frankfurt-am-main-commerzbankarena-saison-2019-2020-1-bundesliga-eint/large-16-9'>
            </a>
        </div>
        <div class='nav-items'>
            <a href='/supporters'>SUPPORTERS
            <img class='nav-link' src='https://www.fr.de/bilder/2020/02/19/13548330/681737010-uefa-verbietet-eine-choreo-beim-spiel-eintracht-frankfurt-gegen-salzburg-2FtPhUmbcbf9.jpg'>
            </a>
        </div>
    </div>
</div>


