<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Forza SGE</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
      <nav class="navbar">
        <a class="navbar-brand" href="#">Eintracht Frankfurt</a>

        <div class="navbar-nav">
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/about">About</a>
          <a class="nav-item" href="/photos">Photos</a>
        </div>
      </div>
    </nav>

    {{{ body }}}

  </body>
</html>
